main:
  - identifier: blog
    name: Blog
    title: Blog posts
    url: https://notes.yiranls.cc/share
    weight: 1
  #- identifier: gallery
  #  name: Gallery
  #  title: Blog posts
  #  url: /gallery
  #  weight: 2
  #Dropdown menu
  # - identifier: dropdown
  #   title: Example dropdown menu
  #   name: Dropdown
  #   weight: 3
  # - identifier: dropdown1
  #   title: example dropdown 1
  #   name: example 1
  #   url: /#
  #   parent: dropdown
  #   weight: 1
  # - identifier: dropdown2
  #   title: example dropdown 2
  #   name: example 2
  #   url: /#
  #   parent: dropdown
  #   weight: 2

